;
; post-recieve.ini
;
; define branch name and post action
;   https://github.com/yoshinari/gitPostRecieveHookScript
;
; mode=copy :
;       commit the files under "path" directory.
;
; mode=scp :
;       Copy all the file(s) to taget server with scp command.
;       (~/.ssh/config required)
;
; mode=ftp :
;       Copy all the file(s) to target server with ncftpput command.
;       (ncftp required)
;
[master]
mode=copy
destination=~/public_html
[develop]
mode=copy
destination=~/develop_html
[#develop]
mode=scp
ssh_config=myServer
destination=/home/xxxx/public_html
[#develop]
mode=ftp
userid=ftpuser
password=myFtpPassword
portNumber=21
timeout=300
retry=10
server=myFtpServer
destination=/public_html
